@import "tailwindcss";

body {
	--ring-shadow: 0 0 0 2px white, 0 0 0 4px #101828;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

input:focus {
	box-shadow: var(--ring-shadow);
	border-color: transparent;
}

header {
	--tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 1px 2px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
	box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
	background-color: var(--color-white);
	border-bottom-style: var(--tw-border-style);
	border-bottom-width: 1px;

	padding: 1rem 1.5rem;

	.header-items-holder {
		justify-content: space-between;
		align-items: center;
		display: flex;

		> * {
			display: flex;
			gap: .75rem;
			align-items: center;
		}

		h1 {
			color: var(--color-gray-900);
			--tw-font-weight: var(--font-weight-bold);
			font-weight: var(--font-weight-bold);
			font-size: var(--text-2xl);
			line-height: var(--tw-leading, var(--text-2xl--line-height));
		}

		p {
			color: var(--color-gray-500);
			font-size: var(--text-sm);
			line-height: var(--tw-leading, var(--text-sm--line-height));
	
		}

		.logo {
			padding: .5rem;
			background-color: var(--color-blue-600);
			border-radius: .5rem;
			width: fit-content;
			height: fit-content;
		}
	}

}

.customer-modal-overlay {
	background-color: rgba(0, 0, 0, .5);
	justify-content: center;
	align-items: center;

	display: flex;
	z-index: 50;
	inset: 0;
	position: fixed;

	--padding: 1.5rem;


	.customer-modal {
		box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
		background-color: white;
		border-radius: .5rem;
		max-width: 28rem;
		width: 100%;


		> * {
			padding: var(--padding);
			display: flex;
		}
	}


	.modal-header {
		border-bottom: 1px solid;
		justify-content: space-between;

		h3 {
			color: var(--color-gray-900);
			--tw-font-weight: var(--font-weight-semibold);
			font-weight: var(--font-weight-semibold);
			font-size: var(--text-lg);
			line-height: var(--tw-leading, var(--text-lg--line-height));
		}
		button {
			color: var(--color-gray-400);
			> * {
				height: 1.25rem;
				width: 1.25rem;
			}
		}
		button:hover {
			color: var(--color-gray-600);
		}
	}

	.modal-form-holder {
		flex-direction: column;
		gap: 1rem;

		label {
			color: var(--color-gray-700);
			--tw-font-weight: var(--font-weight-medium);
			font-weight: var(--font-weight-medium);
	
			font-size: var(--text-sm);
			line-height: var(--tw-leading, var(--text-sm--line-height));
			display: block;
			margin-bottom: calc(var(--spacing) * 2);
	
		}
		input {
			padding-block: calc(var(--spacing) * 2);
			padding-inline: calc(var(--spacing) * 3);
			border-color: var(--color-gray-300);
			border-style: var(--tw-border-style);
			border-width: 1px;
			border-radius: var(--radius-lg);
			width: 100%;
	
		}
	}

	.modal-button-holder {
		border-top: 1px solid;
		gap: 1rem;
		justify-content: end;

		button {
			padding-block: .5rem;
			border-radius: .5rem;
			transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
			transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
			transition-duration: var(--tw-duration, var(--default-transition-duration));
		}

		.cancel-customer {
			padding-inline: 1rem;
			color: var(--color-gray-700);
			background-color: var(--color-gray-100);
			&:hover {
				background-color: var(--color-gray-200);
    	}

		}
		.add-customer {
			padding-inline: 1.5rem;
			background-color: var(--color-green-600);
			color: white;
			&:hover {
				background-color: var(--color-green-700);
    	}
			&:disabled {
        cursor: not-allowed;
				background-color: var(--color-gray-300);
    	}
		}
	}

}

.sidebar {
	transition-duration: .1s;
	transition-property: all;
	--tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 1px 2px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
	box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
	
	background-color: white;
	width: 12rem;
	min-width: min-content;
	height: 100%;

	padding: .5rem;
}
.sidebar-button-holder {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}
.sidebar-button {

	transition-duration: .1s;
	transition-property: all;

	display: flex;
	flex-direction: row;
	gap: .75rem;
	overflow: hidden;
	position: relative;

	text-align: left;
	border-radius: .5rem;
	padding-block: .5rem;
	align-items: center;

	/*
	color: var(--color-blue-700);
	padding-block: calc(var(--spacing) * 2);
	padding-inline: calc(var(--spacing) * 3);
	background-color: var(--color-blue-50);
	border-radius: var(--radius-lg);
	align-items: center;
	width: 100%;


	color: var(--color-gray-600);
	*/

	> svg {
		width: 1.25rem;
		height: 1.25rem;
		flex-shrink: 0;
	}

	> span {
		position: absolute;
		margin-left: 2rem;
		white-space: nowrap;
		text-wrap-mode: nowrap;
	}

}

.content-holder {
	display: flex;
	height: 100%;
	overflow: hidden;
}

.content {
	overflow-y: scroll;
	scrollbar-width: thin;
	padding: 1.5rem;
	width: 100%;
	min-height: 100%;
}

.ticket-group {
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
	box-shadow: var(--tw-shadow);
	background-color: white;
	border-radius: .5rem;
	overflow-x: auto;


	* {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	table {
		width: 100%;
		table-layout: fixed;
		table-layout: auto;
		height: 100%;
	}

	thead {
    background-color: var(--color-gray-50);
	}
	tbody {
    background-color: white;
		height: 100%;

		:where(& > :not(:last-child)) {
			border-bottom: 1px solid var(--color-gray-200);
		}

		tr {
			height: 100%;
			td {
				padding: .75rem;
				max-height: 3.3rem;
			}

			.customer {

				button {
					max-height: 2.5rem;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.description {


				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;

				/*
				white-space: nowrap;
				*/
				
				color: var(--color-gray-900);
				font-size: var(--text-sm);
				line-height: var(--tw-leading, var(--text-sm--line-height));

				button {
					text-align: left;
					width: 100%;
					display: block;

					&:hover {
						color: var(--color-blue-600);
					}
				}
			}

			.status {
				height: 100%;


				.status-label {
					display: flex;
					position: relative;
					max-width: fit-content;
					border-radius: calc(infinity * 1px);
					border-style: solid;
					font-size: .75rem;
					padding-block: .25rem;
					padding-inline: .5rem;
					border-width: 0px;
					white-space: nowrap;
					flex-direction: row;
	
				}
			}


			.date {
				color: var(--color-gray-500);
				font-size: var(--text-sm);
				line-height: var(--tw-leading, var(--text-sm--line-height));
			}

			&:hover {
				background-color: var(--color-gray-50);
			}
		}
	}
}

.table-header-item {
	text-transform: uppercase;
	color: var(--color-gray-500);

	letter-spacing: var(--tracking-wider);
	font-weight: var(--font-weight-medium);
	font-size: var(--text-xs);
	line-height: var(--tw-leading, var(--text-xs--line-height));

	text-align: left;
	padding: .75rem;
	border-right: 1px solid var(--color-gray-200);
	position: relative;
	/*
	white-space: nowrap;
	*/
}